<footer class="footer mt-auto">
    <div id="brand">
        <a id="nav" class="navbar-brand" href="/">
            <img src="../images/Screenshot 2021-01-29 at 17.34.37.png" alt="" width="30" height="24">
            Data Harmonisation Project
        </a>
    </div>
    <div id="footer" class="footer mt-auto">
        <p> ©2020 Swansea University third year Project </p>
    </div>
</footer>